In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys 
sys.path.append('../')

In [2]:
import polars as pl

# Rental Data

In [5]:
df = pl.read_parquet('../data/rental.parquet')
df = df.cast({'monthly_rent':pl.Int64, 'rent_approval_date':pl.Date})
df.tail()

shape: (5, 6)
┌────────────────────┬───────────────┬───────┬────────────────────┬───────────┬──────────────┐
│ rent_approval_date ┆ town          ┆ block ┆ street_name        ┆ flat_type ┆ monthly_rent │
│ ---                ┆ ---           ┆ ---   ┆ ---                ┆ ---       ┆ ---          │
│ date               ┆ str           ┆ str   ┆ str                ┆ str       ┆ i64          │
╞════════════════════╪═══════════════╪═══════╪════════════════════╪═══════════╪══════════════╡
│ 2025-01-01         ┆ CHOA CHU KANG ┆ 684A  ┆ CHOA CHU KANG CRES ┆ 5-ROOM    ┆ 2100         │
│ 2025-01-01         ┆ JURONG WEST   ┆ 604   ┆ JURONG WEST ST 62  ┆ EXECUTIVE ┆ 4700         │
│ 2025-01-01         ┆ BEDOK         ┆ 508   ┆ BEDOK NTH AVE 3    ┆ 4-ROOM    ┆ 2800         │
│ 2025-01-01         ┆ JURONG EAST   ┆ 114   ┆ JURONG EAST ST 13  ┆ 3-ROOM    ┆ 3200         │
│ 2025-01-01         ┆ BUKIT BATOK   ┆ 363   ┆ BT BATOK ST 31     ┆ 4-ROOM    ┆ 3000         │
└────────────────────┴───────────────┴───────┴────────────────────┴───────────┴──────────────┘

In [25]:
town_df = df.filter((df['town']=='CENTRAL') & (df['flat_type']=='5-ROOM'))
town_df.group_by(['rent_approval_date']).agg(avg_rent=df['monthly_rent'].median()).sort(by='rent_approval_date',descending=True)

shape: (5, 2)
┌────────────────────┬──────────┐
│ rent_approval_date ┆ avg_rent │
│ ---                ┆ ---      │
│ date               ┆ f64      │
╞════════════════════╪══════════╡
│ 2024-07-01         ┆ 3100.0   │
│ 2024-06-01         ┆ 3100.0   │
│ 2024-05-01         ┆ 3100.0   │
│ 2024-04-01         ┆ 3100.0   │
│ 2024-03-01         ┆ 3100.0   │
└────────────────────┴──────────┘

# Resale Data

In [8]:
resale_df = pl.read_parquet('../data/resale.parquet')
resale_df = resale_df.with_columns(
    month = pl.col('month').str.to_datetime('%Y-%m-%d')
)
resale_df['month'].max()

datetime.datetime(2025, 2, 1, 0, 0)