In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys 
sys.path.append('../')

In [3]:
import polars as pl

In [21]:
df = pl.read_parquet('../data/rental.parquet.parquet')
df = df.cast({'monthly_rent':pl.Int64, 'rent_approval_date':pl.Date})
df.head()

shape: (5, 6)
┌────────────────────┬─────────────────┬───────┬────────────────────┬───────────┬──────────────┐
│ rent_approval_date ┆ town            ┆ block ┆ street_name        ┆ flat_type ┆ monthly_rent │
│ ---                ┆ ---             ┆ ---   ┆ ---                ┆ ---       ┆ ---          │
│ date               ┆ str             ┆ str   ┆ str                ┆ str       ┆ i64          │
╞════════════════════╪═════════════════╪═══════╪════════════════════╪═══════════╪══════════════╡
│ 2024-03-01         ┆ ANG MO KIO      ┆ 411   ┆ ANG MO KIO AVE 10  ┆ 4-ROOM    ┆ 2100         │
│ 2024-03-01         ┆ KALLANG/WHAMPOA ┆ 38C   ┆ BENDEMEER RD       ┆ 4-ROOM    ┆ 3500         │
│ 2024-03-01         ┆ BUKIT MERAH     ┆ 17A   ┆ TELOK BLANGAH CRES ┆ 4-ROOM    ┆ 4000         │
│ 2024-03-01         ┆ CLEMENTI        ┆ 434   ┆ CLEMENTI AVE 3     ┆ 3-ROOM    ┆ 2800         │
│ 2024-03-01         ┆ YISHUN          ┆ 742   ┆ YISHUN AVE 5       ┆ 3-ROOM    ┆ 2800         │
└────────────────────┴─────────────────┴───────┴────────────────────┴───────────┴──────────────┘

In [25]:
town_df = df.filter((df['town']=='CENTRAL') & (df['flat_type']=='5-ROOM'))
town_df.group_by(['rent_approval_date']).agg(avg_rent=df['monthly_rent'].median()).sort(by='rent_approval_date',descending=True)

shape: (5, 2)
┌────────────────────┬──────────┐
│ rent_approval_date ┆ avg_rent │
│ ---                ┆ ---      │
│ date               ┆ f64      │
╞════════════════════╪══════════╡
│ 2024-07-01         ┆ 3100.0   │
│ 2024-06-01         ┆ 3100.0   │
│ 2024-05-01         ┆ 3100.0   │
│ 2024-04-01         ┆ 3100.0   │
│ 2024-03-01         ┆ 3100.0   │
└────────────────────┴──────────┘